@charset "utf-8";

/*!
 * Project:   PIKA
 * Date:      YYYY/MM/DD
 * Author:    Maciej Węgrzynek <maciej@hitmo-studio.com>, hitmo-studio.com
/* ---------------------------------------- */

* { margin: 0; padding: 0; }

/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html { min-height: 100%; margin: 0 0 1px; font-size: 100.01%; }
body { background: #fff; font-size: 62.5%; }
/*.chrome body { background-position: 49.999% 0; }*/

/*! html5 -------- */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {	display: block; }
summary::-webkit-details-marker { display: none }


body, textarea, input, select, option, button, summary { color: #55656f; font-family: Segoe UI,Helvetica Neue,Helvetica,Arial,sans-serif; line-height: 1.5; }
li, dt, dd, p, th, td, caption, pre, address, summary { font-size: 1.3em; } /*---*/ li *, li p, li li, dt *, dd *, p *, th *, td *, summary * { font-size: 1em; }
ul, ol, dl, p, table, pre, h1, h2, h3, h4, h5, h6, summary { margin-bottom: 15px; }

/*! layout -------- */

 #top { }
  #logo { }
   #logo a { }
  #skip-links { position: absolute; top: 0; left: -10001px; list-style: none; margin: 0; padding: 0; }
   #skip-links li a:focus, #skip-links li a:active { display: block; position: absolute; left: 10001px; top: 0; z-index: 10001; width: 200px; margin: 15px 0 0 15px; padding: 2px 0; background: #333; color: #fff; text-align: center; text-decoration: none; }
  #main-nav ul { list-style: none; margin: 0; padding: 0; }
   #main-nav ul li { }
    #main-nav ul li a { }
     #main-nav ul li em { position: absolute; left: -10001px; top: -10001px; }
 #content { }
 #footer { }

/*! headers ------- */

h1, h2, h3, h4, h5, h6 { }
h1 { font-size: 2.2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }

/*! containers ---- */



/*! forms --------- */

form { }
 textarea { overflow: auto; resize: none; }
 button { overflow: visible; padding: 0 10px; cursor: pointer; } button::-moz-focus-inner { padding: 0; border: none; }

/*! tables -------- */

table { border-collapse: collapse; border-spacing: 0; }
 table th, table td { padding: 5px 10px; border: 1px solid #eee; }

/*! lists --------- */

ul, ol, dd, blockquote { padding-left: 40px; }
 ul ul, ol ol, ul ol, ol ul { margin-bottom: 0; }

/*! paragraphs ---- */


/*! quotation ---- */

blockquote, q { quotes: none; font-style: italic; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }


/*! links --------- */

a { color: #09f; text-decoration: underline; }
a:hover, a:focus, a:active { color: #000; text-decoration: underline; }

/*! images -------- */

img { border-width: 0; image-rendering: optimizeQuality; -ms-interpolation-mode: bicubic; }

/*! other --------- */

pre { font-family: Consolas,Monaco,Courier New,monospace; white-space: pre-wrap; }
address { font-style: normal; }

/*! helpers ------- */

.offset { position: absolute !important; left: -10001px !important; overflow: hidden !important; }
mark { background: none; }

/*! mobile -------- */

@media only screen and (max-device-width: 480px) { html { -webkit-text-size-adjust: none; } }

/*! specific ------ */